* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}
.submit {
  display: block;
  background: greenyellow;
  border-color: greenyellow;
  color: #212121;

  font-weight: 800;
  margin: 30px auto;
  border-radius: 5px;
}
.submit:hover {
  background: greenyellow;
  border-color: greenyellow;
  color: #212121;
  font-weight: 800;
  text-decoration: none;
}
img {
  display: block;
}
