* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}
.submit {
  display: block;
  background: greenyellow;
  border-color: greenyellow;
  color: #212121;

  font-weight: 800;
  margin: 30px auto;
  border-radius: 5px;
}
.submit:hover {
  background: greenyellow;
  border-color: greenyellow;
  color: #212121;
  font-weight: 800;
  text-decoration: none;
}
img {
  display: block;
}
.icon {
  display: inline;
}
.desc {
  display: inline;
  color: rgba(255, 255, 255, 0.8);
}
.box {
  display: flex;
  width: 90%;
  border: none;
  margin: 20px;
  padding: 10px 20px;
  background-color: white;
  border-radius: 5px;
}
.viewButton {
  display: inline;
  float: right;

  color: white;
  border: none;
}

.viewButton:hover {
  color: white;
  transform: scale(1.05);
}

.project {
  margin: 1px auto;

  align-items: center;
}
